body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier Prime', monospace;
    background-color: #1B1B1B;
    box-sizing: border-box;
}

#playerbuttons, #results {
    width: 700px;
    height: 200px;
    /* flex: 0 1 auto; */
    margin: 10px;
    border: 3px solid #33FF00;
    color: #33FF00;
    background-color: #1B1B1B;
    box-sizing: border-box;
    padding: 10px;
}

#playerbuttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#playerbuttons button {
    font-family: 'Courier Prime', monospace;
    transition: all .1s ease;
    background-color: #1B1B1B;
    color: #33FF00;
    border: 2px solid #33FF00;
    width: 100px;
    height: 50px;
}

#playerbuttons button:hover {
    background-color: #33FF00;
    color: #1B1B1B;
}

.click {
    transform: scale(1.05);
    animation-timing-function: ease-out !important;
    background-color: #33FF00; !important;
}

#results h3 {
   margin: 0; 
}

